.app {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 32px 24px;
  gap: 24px;
  max-width: 1350px;
}
@media screen and (max-width: 1000px) {
  .app {
    flex-direction: column;
  }
}

.form-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  height: fit-content;
  padding: 30px;
  flex-direction: column;
  gap: 24px;
  border-radius: 12px;
  background-color: #fff;
}

.resume-container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.1),
    0 8px 16px -8px rgba(0, 0, 0, 0.25);
  width: 21cm;
  height: 29.7cm;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  align-content: start;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent;
  gap: 20px;
}

.resume-container h2 {
  background-color: #f3f5f6;
}

#root {
  display: block;
  background-color: #f3f4f6;
}

input {
  border-radius: 12px;
  border: none;
  background-color: #f3f5f6;
  padding: 12px;
}

textarea {
  border-radius: 12px;
  border: none;
  background-color: #f3f5f6;
  padding: 12px;
  height: 150px;
  font-size: 14px;
  resize: none;
}

.button-container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}
.btn {
  border-radius: 12px;
  border: none;
  background-color: #101828;
  padding: 12px;
  cursor: pointer;
  min-width: 80px;

  color: #f3f4f6;
  font-weight: 600;
}
.btn:hover {
  background-color: #02286e;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0px;
}

label {
  font-weight: 600;
}

.personal-info {
  text-align: center;
  padding-bottom: 25px;
  background-color: #101828;
  color: #f5f3f3;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.personal-info-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.overview {
  width: 80%;
  margin: auto;
}

.education-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.education-dropdown-container {
  position: relative;
}

.rotator {
  transform: rotate(180deg);
}
.start-end {
  display: flex;
  gap: 25px;
}

.education-section {
  width: 80%;
  margin: auto;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-container {
  display: flex;
  gap: 20px;
}

.flex-gap {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date {
  min-width: 150px;
}

.bold {
  font-weight: 600;
}

.educ-list {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  margin-bottom: 10px;
}
.selectBtn {
  width: 80%;
  border: none;
  font-weight: 600;
  padding: 20px;
  font-size: 1rem;

  background-color: #f3f4f6;
}

.deleteBtn {
  width: 20%;
  border: none;

  font-size: 1rem;
  cursor: pointer;

  background-color: #f3f4f6;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex > button {
  align-self: center;
  width: 120px;
}
